__pycache__
.vscode

data/grasp_anything/*.zip
data/grasp_anything/lmdb/*
checkpoint/pretrained/.locks/*
checkpoint/pretrained/models--google--paligemma2-3b-mix-224/*
checkpoint/vcot/*

checkpoints
results


